<html>
<head>
  {{>styles}}
</head>
<body style="font-family: 'Marlett'">
{{>Header}}
<div style="width: '300px'; margin: '0 auto';">
  <p>
    {{name}}, Вы были зарегистрированы в качестве нового участника платформы E-Department (Е-Кафедра)!
  </p>
  <p>Для того, чтобы войти, необходимо активировать ваш аккаунт, перейдя по ссылке ниже:</p>
  <p>
    <a href="https://instagram.com/dmitrн.yegorov_">Activate!</a>
  </p>

</div>
</body>
</html>